In [ ]:
import pandas as pd

In [2]:
import pandas as pd
data=pd.read_csv('disney_plus_titles.csv')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!"
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...
...,...,...,...,...,...,...,...,...,...,...,...,...
1445,s1446,Movie,X-Men Origins: Wolverine,Gavin Hood,"Hugh Jackman, Liev Schreiber, Danny Huston, wi...","United States, United Kingdom","June 4, 2021",2009,PG-13,108 min,"Action-Adventure, Family, Science Fiction",Wolverine unites with legendary X-Men to fight...
1446,s1447,Movie,Night at the Museum: Battle of the Smithsonian,Shawn Levy,"Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...","United States, Canada","April 2, 2021",2009,PG,106 min,"Action-Adventure, Comedy, Family",Larry Daley returns to rescue some old friends...
1447,s1448,Movie,Eddie the Eagle,Dexter Fletcher,"Tom Costello, Jo Hartley, Keith Allen, Dickon ...","United Kingdom, Germany, United States","December 18, 2020",2016,PG-13,107 min,"Biographical, Comedy, Drama","True story of Eddie Edwards, a British ski-jum..."
1448,s1449,Movie,Bend It Like Beckham,Gurinder Chadha,"Parminder Nagra, Keira Knightley, Jonathan Rhy...","United Kingdom, Germany, United States","September 18, 2020",2003,PG-13,112 min,"Buddy, Comedy, Coming of Age",Despite the wishes of their traditional famili...
1449,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,"April 1, 2020",2012,TV-G,2 min,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.

# 1. How many rows and columns are there in the dataset?

In [8]:
import pandas as pd
data=pd.read_csv('disney_plus_titles.csv')
data.shape[0]

1450

In [9]:
data.shape[1]

12

# 2. What are the unique types of shows/movies available in the dataset?

In [11]:
data['type'].unique()

array(['Movie', 'TV Show'], dtype=object)

# 3. What is the average duration of movies in the dataset?

In [2]:
import pandas as pd
data=pd.read_csv('disney_plus_titles.csv')
# Convert 'duration' to numeric values
data['duration_numeric'] = pd.to_numeric(data[data['type'] == 'Movie']['duration'].str.extract('(\d+)', expand=False), errors='coerce')
# Calculate the average duration of movies
average_duration = data[data['type'] == 'Movie']['duration_numeric'].mean()
average_duration

71.9106463878327

# 4. List the top 5 shows/movies released in 2021.

In [3]:
data[data['release_year'] == 2021].sort_values(by='date_added', ascending=False).head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_numeric
112,s113,TV Show,"Doogie Kamealoha, M.D.",NaN,"Peyton Elizabeth Lee, Emma Meisel, Matthew Sat...",United States,"September 8, 2021",2021,TV-PG,1 Season,"Comedy, Coming of Age, Family",A 16-year-old prodigy juggles her budding medi...,NaN
116,s117,Movie,Happier Than Ever: A Love Letter to Los Angeles,"Robert Rodriguez, Patrick Osborne","Billie Eilish, FINNEAS",United States,"September 3, 2021",2021,TV-14,66 min,"Concert Film, Music","Billie Eilish makes her Disney+ debut with ""Ha...",66.0
86,s87,TV Show,Disney's Magic Bake-Off,NaN,"Issac Ryan Brown, Dara ReneÃ©, Graciela Gomez",United States,"September 29, 2021",2021,TV-G,1 Season,"Family, Game Show / Competition",Kid bakers compete to be named Disney Baking C...,NaN
90,s91,TV Show,Star Wars Galaxy of Sounds,NaN,NaN,NaN,"September 29, 2021",2021,TV-PG,1 Season,"Animation, Anthology, Science Fiction","""Star Wars Galaxy of Sounds"" immerses audience...",NaN
91,s92,TV Show,The Hatcher Family Dairy,NaN,NaN,NaN,"September 29, 2021",2021,TV-14,1 Season,"Animals & Nature, Docuseries, Reality",The Hatcher Family enjoys a nonstop circus of ...,NaN

# 5. How many seasons does the TV Show 'Dr. Oakley, Yukon Vet' have?

In [4]:
data[data['title'] == 'Dr. Oakley, Yukon Vet']['duration'].max()

'10 Seasons'

# 6. List the directors with the most number of shows/movies in the dataset.

In [5]:
data['director'].value_counts().head()

director
Jack Hannah         17
John Lasseter       16
Paul Hoen           16
Robert Stevenson    12
Charles Nichols     12
Name: count, dtype: int64

# 7. List the top 3 countries with the most shows/movies in the dataset

In [30]:
 data['country'].value_counts().head(3)

country
United States            1005
United States, Canada      30
United Kingdom             23
Name: count, dtype: int64

# 8.Display the first 5 rows of the dataset.

In [32]:
data.head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_numeric
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!,23.0
1,s2,Movie,Ernest Saves Christmas,John Cherry,"Jim Varney, Noelle Parker, Douglas Seale",NaN,"November 26, 2021",1988,PG,91 min,Comedy,Santa Claus passes his magic bag to a new St. ...,91.0
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23 min,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,23.0
3,s4,Movie,The Queen Family Singalong,Hamish Hamilton,"Darren Criss, Adam Lambert, Derek Hough, Alexa...",NaN,"November 26, 2021",2021,TV-PG,41 min,Musical,"This is real life, not just fantasy!",41.0
4,s5,TV Show,The Beatles: Get Back,NaN,"John Lennon, Paul McCartney, George Harrison, ...",NaN,"November 25, 2021",2021,NaN,1 Season,"Docuseries, Historical, Music",A three-part documentary from Peter Jackson ca...,NaN

# 9.Check for any missing values in the dataset.

In [7]:
data.isna()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_numeric
0,False,False,False,False,False,True,False,False,False,False,False,False,False
1,False,False,False,False,False,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,True,False,False,False,False,False,False,False
4,False,False,False,True,False,True,False,False,True,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,False,False,False,False,False,False,False,False,False,False,False,False,False
1446,False,False,False,False,False,False,False,False,False,False,False,False,False
1447,False,False,False,False,False,False,False,False,False,False,False,False,False
1448,False,False,False,False,False,False,False,False,False,False,False,False,False
1449,False,False,False,False,False,False,False,False,False,False,False,False,False

# 10.Display the summary statistics (mean, min, max) for the 'release_year' column.

In [35]:
data['release_year'].describe()

count    1450.000000
mean     2003.091724
std        21.860162
min      1928.000000
25%      1999.000000
50%      2011.000000
75%      2018.000000
max      2021.000000
Name: release_year, dtype: float64

# 11.Sort the dataset by 'date_added' in descending order.

In [37]:
data.sort_values(by=['date_added'],ascending=False)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_numeric
112,s113,TV Show,"Doogie Kamealoha, M.D.",NaN,"Peyton Elizabeth Lee, Emma Meisel, Matthew Sat...",United States,"September 8, 2021",2021,TV-PG,1 Season,"Comedy, Coming of Age, Family",A 16-year-old prodigy juggles her budding medi...,NaN
115,s116,TV Show,The Incredible Dr. Pol,NaN,"Rick Robles, Dr. Pol",United States,"September 8, 2021",2011,TV-14,19 Seasons,"Animals & Nature, Docuseries, Family",Dr. Pol and his team handle challenging veteri...,NaN
113,s114,TV Show,"Mira, Royal Detective",NaN,"Leela Ladnier, Utkarsh Ambudkar, Roshni Edward...",United States,"September 8, 2021",2020,TV-Y,2 Seasons,"Animation, Fantasy, Kids",Mira is the new royal detective in the land of...,NaN
114,s115,TV Show,Pepper Ann,NaN,"Kathleen Wilhoite, Clea Lewis, Danny Cooksey, ...",United States,"September 8, 2021",1997,TV-Y,3 Seasons,"Animation, Comedy, Coming of Age",Pepper Ann Pearson is a teenage girl on an ete...,NaN
419,s420,Movie,Trick or Treat,Jack Hannah,NaN,United States,"September 4, 2020",1952,TV-G,9 min,"Animation, Family, Fantasy","Donald plays a trick on his nephews, but a wit...",9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,s596,Movie,Prom,Joe Nussbaum,"Aimee Teegarden, Thomas McDonell, De'Vaughn Ni...",United States,"April 1, 2020",2011,PG,105 min,"Comedy, Coming of Age, Drama","At Prom, every couple has a story, and no two ...",105.0
1449,s1450,Movie,Captain Sparky vs. The Flying Saucers,Mark Waring,Charlie Tahan,United States,"April 1, 2020",2012,TV-G,2 min,"Action-Adventure, Animals & Nature, Animation",View one of Sparky's favorite home movies.,2.0
1439,s1440,TV Show,Disney Kirby Buckets,NaN,"Jacob Bertrand, Mekai Curtis, Cade Sutton, Oli...",United States,NaN,2014,TV-Y7,3 Seasons,"Action-Adventure, Comedy, Coming of Age",Welcome to Kirby's world! It's rude and sketchy.,NaN
1440,s1441,TV Show,Disney Mech-X4,NaN,"Nathaniel Potvin, Raymond Cham, Kamran Lucas, ...",Canada,NaN,2016,TV-Y7,2 Seasons,"Action-Adventure, Comedy, Science Fiction",Ryan discovers his ability to control a giant ...,NaN
1441,s1442,TV Show,Imagination Movers,NaN,"Rich Collins, Dave Poche, Scott Durbin, Scott ...",United States,NaN,2008,TV-Y,3 Seasons,"Kids, Music","Rock out with the Imagination Movers, Disney J...",NaN

# 12.How many TV shows are there in the dataset?

In [46]:
data[data['type']=='TV Show'].shape[0]

398

# 13.How many unique countries are represented in the dataset?

In [53]:
data['country'].nunique()

89

# 14.How many unique directors are there in the dataset?

In [54]:
data['director'].nunique()

609

# 15.How many unique directors are there in the dataset?

In [11]:
data['release_year'].min()

1928

# 16.List the top 3 countries with the most TV shows.

In [57]:
data[data['type'] == 'TV Show']['country'].value_counts().head(3)

country
United States            228
United Kingdom            12
United States, Canada      5
Name: count, dtype: int64

# 17.List the titles of shows/movies directed by 'John Cherry'.

In [60]:
data[data['director'] == 'John Cherry']['title']

1    Ernest Saves Christmas
Name: title, dtype: object

# 18.What is the most common rating in the dataset?

In [69]:
most_common_rating = data['rating'].mode().iloc[0]
most_common_rating

'TV-G'

# 19.What is the distribution of ratings in the dataset? Display a count of each unique rating.

In [70]:
rating_distribution = data['rating'].value_counts()
rating_distribution

rating
TV-G        318
TV-PG       301
G           253
PG          236
TV-Y7       131
TV-14        79
PG-13        66
TV-Y         50
TV-Y7-FV     13
Name: count, dtype: int64

# 20.How many seasons does the TV show 'Hawkeye' have?

In [76]:
hawkeye_seasons = data[data['title'] == 'Hawkeye']['duration']
hawkeye_seasons

6    1 Season
Name: duration, dtype: object

# 21.List the movies directed by Karen Disher.

In [86]:
data[data['director'] == 'Karen Disher']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,duration_numeric
2,s3,Movie,Ice Age: A Mammoth Christmas,Karen Disher,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,"November 26, 2021",2011,TV-G,23,"Animation, Comedy, Family",Sid the Sloth is on Santa's naughty list.,23.0

# 22.Identify the top 3 genres with the most occurrences in the dataset.

In [107]:
import pandas as pd
genres_split = data['listed_in'].str.split(',').explode()
genres_cleaned = genres_split.str.strip()
top_genres = genres_cleaned.value_counts().head(3)
top_genres

listed_in
Family       632
Animation    542
Comedy       526
Name: count, dtype: int64